doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Create job
  body
    include ./header.pug
    main
      h1 Create job ad
      form(action="./views/admin_views/dashboard_view.pug" method="get")
        // Input para ingresar el título de la oferta de empleo
        label(for="jobTitle") Job title:
        input(type="text" id="jobTitle" name="jobTitle" required)
        label(for="company_name") Job Company name:
        input(type="text" id="company_name" name="company_name" required)
        label(for="jobDescription") Job description:
        input(type="text" id="jobDescription" name="jobDescription" required)
        label(for="location") Job location:
        input(type="text" id="location" name="location" required)
        label(for="logo") Job logo:
        input(type="file" id="logo" name="logo" required)
        // Botón de búsqueda
        button(type="submit") Save
    script(src="./script.js")