doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title JobApp Favorites
    body
        include ./header.pug
        main
            h1 Favorites
            section.favoriteCard
                article 
                    img(src="https://media.glassdoor.com/sql/10462/zf-group-squarelogo-1576661558909.png", alt="Logo de INNOCV Solutions S.L.U.")
                    article 
                        h3 React Developer (Junior/Middle)
                        h5 INNOCV Solutions S.L.U.
                        p Madrid
                p Si eres una persona que le gusta estar actualizada en las últimas tendencias, inquieta por probar nuevas tecnologías, y te gusta encontrar otras formas de hacer las cosa, éste es tu sitio. Si te consideras un/a team player que defiende el Fair Play ante todo… ¡hay un equipo esperándote!...
                a(href="https://www.glassdoor.es/job-listing/react-developer-junior-middle-innocv-solutions-slu-JV_IC2664239_KO0,29_KE30,50.htm?jl=1009055690546" target="_blank") More info.
            section.favoriteCard
                article 
                    img(src="https://media.glassdoor.com/sql/2708934/orenes-grupo-squarelogo-1636100874103.png", alt="Logo de Grupo Orenes")
                    article 
                        h3 FRONTEND DEVELOPER JUNIOR
                        h5 Grupo Orenes
                        p Murcia
                p ¡Se parte de un equipo que está cambiando las reglas de juego! Buscamos personas que estén dispuestas a marcar la diferencia! Si cumples los requisitos de la oferta inscribirte! Queremos descubrir tu talento y que comiences tu carrera profesional con nosotros! Orenes Grupo, holding empresarial con una importante presencia en...
                a(href="https://www.glassdoor.es/job-listing/frontend-developer-junior-grupo-orenes-JV_IC2607772_KO0,25_KE26,38.htm?jl=1009146729128" target="_blank") More info.
            section.favoriteCard
                article 
                    img(src="https://media.glassdoor.com/sql/2210338/enstroga-squarelogo-1636460422008.png", alt="Logo de ENSTROGA")
                    article 
                        h3 Full Stack Web Developer Junior
                        h5 ENSTROGA
                        p Barcelona
                p What we need from you? 1 years+ experience with PHP 5.6+. PHP 8.x experience would be a huge plus. 1 years+ experience with the Laravel framework 5.x+. 8.x would be a plus. 1 years+ experience with HTML5, CSS3 and Javascript (jQuery). Experience with a frontend library/framework such as React, VueJS, Angular, would be a plus. 1 years+ experience with MySQL. Practical experience in building and using REST APIs. Good organizational, time management and IT skills. An ability to juggle a workload a...
                a(href="https://www.glassdoor.es/job-listing/full-stack-web-developer-junior-enstroga-JV_IC2547194_KO0,31_KE32,40.htm?jl=1008459305119" target="_blank") More info. 
        script(src="./script.js")