header.header
    nav.navbar
        a.nav-logo(href="#") DevJob Finder
        ul.nav-menu
            li.nav-item 
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Profile
            li.nav-item
                a.nav-link(href="#") Ads
            li.nav-item
                a.nav-link(href="#") Logout
        .hamburger
            span.bar
            span.bar
            span.bar