header.header
    nav.navbar
        a.nav-logo(href="/") DevJob Finder
        ul.nav-menu
            li.nav-item 
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/profile") Profile
            li.nav-item
                a.nav-link(href="/favorites") Favorites
            li.nav-item
                a.nav-link(href="/dashboard") Dashboard
            li.nav-item
                a.nav-link(href="/signup") Signup
            li.nav-item
                a.nav-link(href="/login") Login
            li.nav-item
                a.nav-link(href="/logout") Logout
        .hamburger
            span.bar
            span.bar
            span.bar