doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title JobApp Login
    body
        include ./header.pug
        main
            h1 JobApp
            h3 Sign In
            form(action="./film" method="post" id="signInForm")

                input(type="text" id="userMail" required)
                input(type="text" id="userPassword" required)
                
                button(type="submit") Buscar

                p ¿Ha olvidado su contraseña? Pulse 
                    a(href="#") aquí
        script(src="./script.js")