doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title JobApp Login
    body
        include ./header.pug
        main
            p Cerraste sesión con éxito
        script(src="./script.js")