doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./style.css")
    title Dev Job Finder
  body
    include ./header.pug
    h1 Profile
    img(src='' alt='')
    form(action="./profile_view.pug" method="post")
      // Datos de perfil a editar
      label(for="datoName") Nombre:
      input(type="text" id="datoName" name="datoName" required)
      label(for="Surname") Surname :
      input(type="text" id="idSurname" name="surname" required)
      label(for="datoEmail") Email:
      input(type="text" id="idEmail" name="email" required)
      label(for="datoPassword") Password:
      input(type="text" id="idPassword" name="password" required)
      label(for="datoImage") Password:
      input(type="text" id="idImage" name="datoImage" required)
         // Botón de cargar imagen
      button(type="button") search image
      img(src="", alt="")   
      // Botón de edición
      button(type="submit") Update
      img(src="", alt="")


      script(src="./script.js")