doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Buscar Pelis
  body
    h1 Buscar Película
    form(action="./film" method="post")
      // Input para ingresar el título de la película
      label(for="movieTitle") Título de película:
      input(type="text" id="movieTitle" name="movieTitle" required)
      
      // Botón de búsqueda
      button(type="submit") Buscar
      img(src="", alt="", srcset="")