doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.css")
    title JOBS APP
  body
    h1 Profile
    form(action="./profile_view.pug" method="post")
      // Input para ingresar los datos de los usuarios 
      label(for="datoUser1") User 1:
      input(type="text" id="datoUser1" name="datoUser1" required)
      label(for="datoUser2") User 2:
      input(type="text" id="datoUser2" name="datoUser2" required)
      label(for="datoUser3") User 3:
      input(type="text" id="datoUser3" name="datoUser3" required)
      label(for="datoUser4") User 4:
      input(type="text" id="datoUser4" name="datoUser4" required)
      
      // Botón de búsqueda
      button(type="submit") Editar
      img(src="", alt="")